<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>COMP5322 - Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel='stylesheet' href='../static/css/custom.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>



</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="navbar-brand">Vidi Meme</div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active ml-auto">
                        <a class="nav-link" href="/home/dashboard">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  ml-auto">
                        <a class="nav-link" href="/home/upload_video">Upload Video</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/home/vid_listing">My Video</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/home/profile">Profile</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/home/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>



    </div>
    <div class="container mx-auto">
        <div class="justify-content-center ">

            <% 
                rowCount = 0
                videos.forEach(function(video) { %>
                <div class="col-md-6" >
                    <a href="/videos/<%= video.name %>">
                        <strong>
                            <%= video.former_name %>
                        </strong>
                        <br/>
                        <img src="../static/video/<%= video.name %>.png" />
                    </a>
                </div>
                <% rowCount++ %>
                        <% if (rowCount % 2 == 1 ){  %> </div>  <div class="justify-content-center"> <% } %>
       
           
                <%   }); %>
        </div>




        <!--             
               <ul id="images">
              
                  <% videos.forEach(function(video) { %>
                    <li>
                      <%= video.name %> -
                        <%= video.userid %>
                    </li>
                    <% }); %>
                </ul> -->

    </div>
    </div>
</body>

</html>